<footer class="footer">
  <div class="wrap footer-row">
    <p>© {{date format="YYYY"}} {{@site.title}}. all rights reserved. proudly built in copenhagen.</p>
    <nav class="footer-links">
      <a href="https://blog.intelfy.dk">blog</a>
      <a href="https://github.com/intelfy">github</a>
      <a href="mailto:thomas@intelfy.dk">contact</a>
    </nav>
  </div>
</footer>
