<footer class="footer">
  <div class="wrap footer-row">
    <p>© {{date format="YYYY"}} {{@site.title}}. all rights reserved. proudly built in copenhagen. special thanks to Lottiefiles and Ghost.org</p>
  </div>
</footer>
